.container{
    background-color: #252b2d;
    height: 100%;
    padding: 4rem;
    align-content: center;
    align-items: center;
    text-align: center;
}

.heading{

    font-size: 4rem;
    margin-bottom: 0%;
    color: white;
}

.description{
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(189, 160, 16);
}

html,body{

    margin: 0%;
    height: 100%;
    overflow: auto;
}

.upload-btn{
    background-color: rgb(12, 231, 198);
    width: 6rem;
    height: 2rem;
    border-radius:10px;
    border: none;
    color: white;
 
}
.create-btn{
    background-color: rgb(3, 51, 182);
    width: 6rem;
    height: 2rem;
    border-radius:10px;
    border: none;
    color: white;
}
.link{
    text-decoration: none;
    color: white;

}