.container{
    background-color: #fafafa;
    height: 100%;
    padding: 4rem;
    text-align: center;
}

.heading{

    font-size: 4rem;
    margin-bottom: 0%;
    color: #340864;
}

.description{
    background-color: #c5d5da91;
    height: 100%;
    padding: 4rem;
    text-align: center;
}

html, body {
    margin: 0%;
    height: 100%;
    overflow: auto;
    background-color: #c5d5da91;

}

.upload-btn{
    background-color: rgb(71 0 118 / 87%);
    width: 9rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
 
}
.create-btn{
    background-color: rgb(55 78 44);
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: white;

}